# Project introduction:
### Which NYC schools have the best math results?
- The best math results are at least 80% of the **maximum possible score of 800** for math.
- Save your results in a pandas DataFrame called **best_math_schools**, including `"school_name"` and `"average_math"` columns, sorted by `"average_math"` in descending order.
### What are the top 10 performing schools based on the combined SAT scores?
- Save your results as a pandas DataFrame called **top_10_schools** containing the `"school_name"` and a new column named `"total_SAT"`, with results ordered by `"total_SAT"` in descending order.
### Which single borough has the largest standard deviation in the combined SAT score?
- Save your results as a pandas DataFrame called **largest_std_dev**.
- The DataFrame should contain one row, with:
1. `"borough"` - the name of the NYC borough with the largest standard deviation of `"total_SAT"`.
2. `"num_schools"` - the number of schools in the borough.
3. `"average_SAT"` - the mean of `"total_SAT"`.
4. `"std_SAT"` - the standard deviation of `"total_SAT"`.
- Round all numeric values to two decimal places.
## Tóm tắt:
- Yêu cầu đầu tiên đưa ra những trường học thuộc thành phố New York có thành tích toán tốt nhất với ràng buộc của môn toán: "phải đạt tối thiểu 80% số điểm trên tổng điểm 800" => điểm để gọi là tốt của môn toán là từ 640~800. Lưu dữ liệu trong dạng DF với các cột tương ứng xếp hạng giảm dần.
- Tìm ra 10 trường có thành tích tốt nhất dựa trên điểm tổng hợp SAT 
- Tìm ra borough(quận) có độ lệch chuẩn lớn nhất trong điểm SAT
Tất cả các giá trị đều lấy làm tròn đến số thập phân thứ 2

In [1]:
# Library Cell
import pandas as pd

In [5]:
# Path variable declaration
file_path = r'D:\Repo-train\Jnotebook\Exploring_NYC_Public_School _Test _Result_Scores\dataset\schools.csv'
# Read data from CSV as DF
# Đọc dữ liệu từ file csv
schools = pd.read_csv(file_path)
# Show head Df
# Hiển thị 5 dòng đầu của DF
print(schools.head())

                                         school_name    borough building_code  \
0  New Explorations into Science, Technology and ...  Manhattan          M022
1                               Essex Street Academy  Manhattan          M445
2                       Lower Manhattan Arts Academy  Manhattan          M445
3    High School for Dual Language and Asian Studies  Manhattan          M445
4      Henry Street School for International Studies  Manhattan          M056

   average_math  average_reading  average_writing  percent_tested
0           657              601              601             NaN
1           395              411              387            78.9
2           418              428              415            65.1
3           613              453              463            95.9
4           410              406              381            59.7

In [7]:
# 1. Which schools with best results in Math?
# Creat DF to save result, using logic operator to filter data
# Tạo DF để lưu kết quả, sử dụng toán tử logic để lọc dữ liệu
best_math_schools = schools[schools['average_math'] >= 800*0.8][['school_name', 'average_math']]
# Show result sorted by average_math descending
# Hiển thị kết quả sắp xếp theo average_math giảm dần 
print(best_math_schools.sort_values(by='average_math', ascending=False))

                                           school_name  average_math
88                              Stuyvesant High School           754
170                       Bronx High School of Science           714
93                 Staten Island Technical High School           711
365  Queens High School for the Sciences at York Co...           701
68   High School for Mathematics, Science, and Engi...           683
280                     Brooklyn Technical High School           682
333                        Townsend Harris High School           680
174  High School of American Studies at Lehman College           669
0    New Explorations into Science, Technology and ...           657
45                       Eleanor Roosevelt High School           641

In [11]:
# 2. Top 10 schools with best results SAT
# Create column to save SAT score
# Tạo cột để lưu điểm SAT
schools['total_SAT'] = (schools['average_math'] + schools['average_reading'] + schools['average_writing'])
# Creat DF to save result and sort top 10 schools with best SAT score
# Tạo DF để lưu kết quả và sắp xếp top 10 trường có điểm SAT cao nhất
top_10_shools = schools.sort_values(by='total_sat', ascending=False)[['school_name', 'total_SAT']].head(10)
# Show result
# Hiển thị kết quả
print(top_10_shools)

                                           school_name  total_SAT
88                              Stuyvesant High School       2144
170                       Bronx High School of Science       2041
93                 Staten Island Technical High School       2041
174  High School of American Studies at Lehman College       2013
333                        Townsend Harris High School       1981
365  Queens High School for the Sciences at York Co...       1947
5                       Bard High School Early College       1914
280                     Brooklyn Technical High School       1896
45                       Eleanor Roosevelt High School       1889
68   High School for Mathematics, Science, and Engi...       1889

In [13]:
# 3. Borough with Largest Standard Deviation
# Group data by borough and calculate the number of schools, average SAT score and standard deviation
# Nhóm dữ liệu theo quận và tính số trường học, điểm SAT trung bình và độ lệch chuẩn
borough_stats = schools.groupby('borough').agg(
    num_schools=('school_name', 'size'),
    average_SAT=('total_SAT', 'mean'),
    std_SAT=('total_SAT', 'std')
).reset_index()
# Round numeric columns to two decimal places
# Làm tròn cột số thành hai chữ số thập phân
borough_stats['average_SAT'] = borough_stats['average_SAT'].round(2)
borough_stats['std_SAT'] = borough_stats['std_SAT'].round(2)
# Find the borough with the largest standard deviation
# Tìm quận có độ lệch chuẩn lớn nhất
largest_std_dev = borough_stats.loc[borough_stats['std_SAT'].idxmax()]
# Convert the result to a DataFrame
# Chuyển kết quả thành DataFrame
largest_std_dev = pd.DataFrame([largest_std_dev]).reset_index(drop=True)
# Show result
# Hiển thị kết quả
print("\nBorough with Largest Standard Deviation:\n", largest_std_dev)

Borough with Largest Standard Deviation:
      borough  num_schools  average_SAT  std_SAT
0  Manhattan           89      1340.13   230.29